
.header {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 0 50px 50px 0;
    box-shadow: 1px 2px 4px rgb(121, 121, 121);
}

.titleText {
    font-family: 'Rubik One', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(45deg, #e62e04 10%, rgb(240, 66, 2) 25%, rgb(249, 89, 1) 50%, #ff6600 85%);
    -webkit-background-clip: text;
    font-size: 3em;
    -webkit-text-fill-color: transparent;
    display: table;
    margin: 20px auto;
}



